@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(18, 18, 18);
  color: rgba(255, 255, 255, 0.87);
  font-size: 1rem;
  font-family: Roboto, Arial, sans-serif;
  line-height: 1.5rem;
  font-weight: 400;
  text-rendering: optimizelegibility;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
